{% extends 'base.html.twig' %}

{% block title %}
	Catégorie
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>editer la catégorie de
		{{ category.name }}</h1>
	{{form_start(formView)}}

	{{form_widget(formView)}}


	<button type="submit" class="btn btn-primary">
		<i class="fas fa-save"></i>
		Editer la catégorie
	</button>
	{{form_end(formView)}}
{% endblock %}
